body { font:12px/1.2em Microsoft YaHei;}

a,
a:link { color:#000; text-decoration:none; outline:none;}
a:hover,a:focus { text-decoration:none; color:#39f;}

.pd3 { padding:3px;}
.pd5 { padding:5px;}
.pd10 { padding:10px;}

label,
button,
input,
select,
textarea { font-size:12px; vertical-align: middle;}

input,
button,
select,
textarea { font:12px/1.2em Microsoft YaHei;}

select,
button,
input[type="button"],
input[type="reset"],
input[type="submit"],
input[type="radio"],
input[type="checkbox"] { cursor: pointer;}

.tabs-tool { border-top:0;}
.easyui-tree-menu .tree-node{
	padding: 3px 0px;
}